.home{
    height: 100vh;
    background-image: url("kopi5.jpg!sw800");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.home::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.home-content{
    position: relative;
    z-index: 1;
}

.navbar-warna{
    background-color: #957C62;
}

/* MENU SECTION */
.menu-section {
  background-color: #f8f5f2;
  padding: 60px 0;
  align-items: center;
}


.menu-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;      
  padding-bottom: 10px;
  justify-content: center;
}


.menu-scroll::-webkit-scrollbar {
  display: none;
}


.menu-card {
  min-width: 250px;      
  border: none;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;       
  transition: transform 0.3s;
}

.menu-card:hover {
  transform: translateY(-8px);
}


.menu-card img {
  height: 200px;
  object-fit: cover;
}

/*OUR STORY*/
.story-img {
  margin: 20px;
}
.story-img-wrapper {
  background-color: #ffffff; /* putih biar kontras */
  padding: 20px;             /* INI JARAKNYA */
  border-radius: 20px;}

/* LOCATION SECTION */
.location-section {
  padding: 50px 0;
  background-color: #faeada;
}

.location-section h2 {
  color: #6f4e37;
}

/* MAP */
.location-map {
  width: 90%;
  height: 350px;
  border: 0;
  border-radius: 15px;
}


/* FOOTER */
.footer-section {
  background-color: #6f4e37; /* coklat kopi */
  color: #ffffff;
  padding: 60px 0 30px;
}

/* LINK FOOTER */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* GARIS */
.footer-section hr {
  border-color: white ;
 
  
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 28px;
  }

  .menu-card {
    min-width: 200px;
  }
}
